@model NotUseAuto.Models.Product

@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}


<div class="container-fluid">
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-5">
                            <!-- Product image -->
                            <a href="javascript: void(0);" class="text-center d-block mb-4">
                                <img src="@Model.Image1" class="img-fluid big-image" style="width: 280px; height:400px" alt="Product-img">
                            </a>

                            <div class="d-lg-flex d-none justify-content-center">
                                <a href="javascript: void(0);" onclick="showImage('@Model.Image1');">
                                    <img src="@Model.Image1" class="img-fluid img-thumbnail p-2" style="max-width: 75px; height:100px" alt="Product-img">
                                </a>
                                <a href="javascript: void(1);" onclick="showImage('@Model.Image2');" class="ml-2">
                                    <img src="@Model.Image2" class="img-fluid img-thumbnail p-2" style="max-width: 75px; height:100px" alt="Product-img">
                                </a>
                                <a href="javascript: void(2);" onclick="showImage('@Model.Image3');" class="ml-2">
                                    <img src="@Model.Image3" class="img-fluid img-thumbnail p-2" style="max-width: 75px; height:100px" alt="Product-img">
                                </a>
                            </div>
                        </div> <!-- end col -->
                        <div class="col-lg-7">
                            <form class="pl-lg-4">
                                <!-- Product title -->
                                <h3 class="mt-0">@Model.Name</h3>
                                <p class="font-16">
                                    <span class="text-warning mdi mdi-star"></span>
                                    <span class="text-warning mdi mdi-star"></span>
                                    <span class="text-warning mdi mdi-star"></span>
                                    <span class="text-warning mdi mdi-star"></span>
                                    <span class="text-warning mdi mdi-star"></span>
                                </p>
                                <!-- Product stock -->
                                @if (Model.Quantity >= 1)
                                {
                                    <span class="badge badge-success mt-3">Instock</span>
                                }
                                else
                                {
                                    <span class="badge badge-danger mt-3">Out of Stock</span>
                                }

                                <!-- Product description -->
                                <div class="mt-4">
                                    <h6 class="font-14">Retail Price:</h6>
                                    <h3> $@Model.Price.ToString("#,##0")</h3>
                                </div>

                                <!-- Quantity -->
                                <div class="mt-4">
                                    <h6 class="font-14">Quantity: @Model.Quantity</h6>  
                                </div>

                                <!-- Category -->
                                <div class="mt-4">
                                    <h6 class="font-14">Category: @await Component.InvokeAsync("Category",Model.CategoryId)</h6>
                                </div>

                                <!-- Product description -->
                                <div class="mt-4">
                                    <h6 class="font-14">Description:</h6>
                                    <p>@Model.Description</p>
                                </div>
                                <div class="d-flex">
                                    
                                    <a asp-controller="Customer" asp-action="AddtoCart" asp-route-Id="@Model.Id" class="btn btn-danger ml-2 confirmation ">
                                    
                                       <i class="mdi mdi-cart mr-1"></i> Add to cart
                                    </a>
                                    
                                </div>
                                <!-- Product information -->
                                <div class="mt-4">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h6 class="font-14">Available Stock:</h6>
                                            <p class="text-sm lh-150">@Model.Quantity</p>
                                        </div>
                                        <div class="col-md-4">
                                            <h6 class="font-14">Number of Orders:</h6>
                                            @{
                                                Random rnd = new Random();
                                                // This will return either 1 or 2 randomly.
                                                int order = rnd.Next(1, 5000);
                                            }
                                            <p class="text-sm lh-150">@order</p>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div> <!-- end col -->
                    </div> <!-- end row-->
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col-->
    </div>
    <!-- end row-->

</div>

<script>
    const mainImage = document.querySelector(".big-image")
    console.log(mainImage)
   function showImage(src) {
       mainImage.src = src;
       console.log(mainImage.src)
   }
</script>