@model NotUseAuto.Models.ApplicationUser
@{
    ViewData["Title"] = "Update";
}
@if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
{
    <h1>Reset password</h1>

    <h4>FPT BOOK </h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-controller="Admin" asp-action="Update" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    @*<label type = "hidden" asp-for="Id" class="control-label"></label>*@
                    <input type="hidden" asp-for="Id" class="form-control" />

                </div>
                <div class="form-group">
                    <label asp-for="FullName" readonly class="control-label"></label>
                    <input asp-for="FullName" readonly class="form-control" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="UserName" readonly class="control-label"></label>
                    <input asp-for="UserName" readonly class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" readonly class="control-label"></label>
                    <input asp-for="Email" readonly class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Old Password</label>
                    <input name="oldpass" type="password" value="@ViewData["OldPass"]" class="form-control" />
                    <span class="text-danger">@ViewBag.Error2</span>

                </div>

                <div class="form-group">
                    <label class="control-label">New Password</label>
                    <input asp-for="PasswordHash" type="password" value="@ViewData["NewPass"]" name="newpass" class="form-control" />
                </div>


                <div class="form-group">
                    <label class="control-label">Confirm Password</label>
                    <input asp-for="PasswordHash" type="password" value="@ViewData["ConfirmPass"]" name="confirmpass" class="form-control" />
                    <span class="text-danger">@ViewBag.Error1</span>
                </div>

                <div>
                    <br>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <br>
    <div>
        <a asp-controller="Admin" asp-action="Reset">Back to List</a>
    </div>
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

    @*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
